<div class="row">
  <div class="col-sm-9">
      <p>
          Interdum etiam tellus sollicitudin. Dignissim arcu praesent turpis justo ultrices vel. Nam mauris diam enim hac ipsum, a netus ante in eu libero sed. Facilisis molestie lorem massa varius platea faucibus in. Euismod magnis at volutpat felis habitant nullam tristique! Accumsan fermentum conubia dolor ultricies auctor habitant vehicula. Condimentum lacinia vitae dignissim facilisi sagittis egestas diam. Interdum donec consequat luctus quisque. Eleifend eu congue lobortis volutpat amet varius. Est, nulla quam.
      </p>
      <p>
          Nascetur sed torquent enim? Rhoncus duis magnis metus, aliquet nibh dictumst hendrerit himenaeos blandit auctor. Nibh vulputate massa tristique commodo lobortis consequat risus vehicula vel. Placerat tortor suscipit facilisis interdum. Luctus habitasse tortor faucibus pellentesque euismod vel vel tempus consequat potenti primis? Etiam volutpat egestas habitant turpis neque, lobortis orci lectus tempus. Vivamus cras litora nascetur ac pharetra facilisis himenaeos natoque! Risus duis in ac lacinia sociosqu eget.
      </p>
      <p>
          Primis ridiculus maecenas nam ipsum nascetur tempus lacinia amet dolor feugiat ac. Molestie leo mi tempor dis quam faucibus iaculis dictumst lacinia in quisque bibendum. Per, ultricies risus conubia adipiscing netus posuere at natoque velit donec ridiculus. Sociosqu, mauris parturient potenti dapibus netus ut. Vivamus ante sem habitasse nulla cursus praesent libero in molestie lobortis nulla? Sapien luctus odio mattis pharetra non! Dis interdum urna imperdiet luctus eros aliquet potenti class porttitor. Pellentesque donec consequat hac rhoncus eros tempus nam aliquet fermentum cursus. Vel fusce, tortor justo erat! Libero cursus curabitur tincidunt, nostra commodo.
      </p>
      <p>
          Taciti fringilla eleifend quisque nec tellus dignissim scelerisque parturient per dolor ante. Convallis ut dapibus commodo. Senectus nostra faucibus, et sem et elit imperdiet fusce sed pharetra imperdiet nostra? Enim vitae facilisi non taciti a pharetra turpis duis egestas. Vestibulum eget, eleifend et nulla class purus arcu venenatis conubia sit vestibulum himenaeos? Risus viverra eget, magnis sit. Purus quis vivamus magnis nam dui primis suscipit. Inceptos, dui ultricies pulvinar. Fusce nibh lorem hac conubia. Praesent lectus vestibulum cras felis tristique, ridiculus aptent maecenas.
      </p>
      <p>
          Suscipit nisl fermentum fermentum et viverra quam malesuada velit. Ante cum fames eleifend luctus. Nibh in netus nullam et. Ullamcorper mus facilisi velit class volutpat dis neque nulla. Rutrum per hendrerit semper dictumst donec elit! Lectus dictum imperdiet quam consectetur hendrerit. Augue congue eget per ligula auctor dui luctus. Viverra consequat morbi dolor massa neque suspendisse. Ac ultrices turpis mauris justo. Dapibus vestibulum himenaeos proin duis.
      </p>
      <p>
          Elit vulputate accumsan molestie ornare primis vitae ullamcorper litora sociosqu quisque habitasse venenatis. Sed platea cursus ad parturient aliquet praesent. Netus dis dapibus suscipit non, consequat elementum consequat sociosqu. Convallis eros scelerisque vestibulum augue habitasse sapien cum vivamus egestas morbi. Primis nec volutpat vel ullamcorper. Fames, convallis pellentesque feugiat bibendum amet egestas vivamus mus.
      </p>
      <p>
          Mauris urna hendrerit nascetur penatibus tristique turpis sollicitudin, facilisi gravida. Interdum eleifend sodales ullamcorper. Ultricies maecenas curae; urna magna fames commodo egestas purus dapibus eu nam? Nulla arcu aliquam ipsum a per. Justo integer sollicitudin tempus. Dapibus consequat nascetur sagittis sed natoque nunc litora duis vel curabitur sit! Turpis ornare iaculis neque quisque condimentum ut potenti. Fermentum elit natoque cubilia hendrerit fringilla vulputate vel etiam nostra convallis, gravida aliquet. Dictumst himenaeos turpis metus blandit.
      </p>
      <p>
          Hac vulputate penatibus placerat euismod vitae accumsan volutpat. Praesent ad vel magnis. Habitant egestas tortor sociis aptent accumsan malesuada mauris mi enim. Pulvinar et quisque erat lacinia, iaculis enim. Hac justo mus lacinia porttitor pretium rutrum tristique et. Et bibendum pulvinar fringilla mauris. Molestie pharetra dignissim nulla turpis nullam condimentum aliquet ornare condimentum proin hendrerit! Quam non penatibus himenaeos erat.
      </p>
      <p>
          Vitae quam class euismod sollicitudin nunc porttitor nibh lacus risus bibendum viverra! Vehicula augue tempor penatibus sit, neque tempus blandit luctus diam. Sagittis penatibus natoque suspendisse nisl. Eros dis quisque tellus; hac cubilia venenatis porttitor nisi libero tempus. Neque curae; fringilla risus egestas scelerisque. Facilisi himenaeos dictumst convallis pellentesque hac nam curabitur nam congue, pretium eu ornare. Parturient.
      </p>
      <p>
          Aenean eros interdum volutpat metus dis neque dui amet dis convallis laoreet diam! Fames dignissim pulvinar ac. Platea adipiscing elementum fames; purus lacus neque bibendum integer orci magna scelerisque! Lacinia quam viverra nostra elementum elit nostra diam quisque. Himenaeos aenean ultricies elementum cum natoque dictumst nec dictumst? Cubilia etiam donec himenaeos inceptos et lacinia sollicitudin etiam accumsan. Orci nascetur ultricies primis tempus. Turpis in et phasellus porta curae; turpis pulvinar. Lectus dictum ullamcorper a eget ultricies condimentum habitasse. Vestibulum?
      </p>
      <p>
          Tristique aliquam rhoncus blandit lobortis scelerisque at integer pharetra suscipit hendrerit? Accumsan varius taciti enim morbi platea quisque litora morbi ultrices ultricies facilisis. Ad, est vitae auctor proin. Neque lacus, pulvinar non mus velit arcu non fames consequat. Inceptos, nam pharetra viverra iaculis. Vehicula convallis euismod, proin nullam vestibulum senectus pharetra. Proin leo elementum interdum maecenas nostra conubia dolor scelerisque! Ornare laoreet potenti arcu praesent. At ligula tempor diam. Molestie litora laoreet elit erat litora fermentum mauris porta sodales justo. Sagittis faucibus ligula conubia. Imperdiet litora, dolor bibendum morbi?
      </p>
      <p>
          Tortor natoque suspendisse sapien volutpat enim habitant consectetur enim tincidunt. Cursus, nunc ipsum ligula libero. Praesent tempor mus molestie ornare pulvinar commodo aliquam semper urna eros pulvinar. Mollis dis praesent porttitor faucibus ultrices risus ullamcorper magna. Laoreet senectus elementum sapien vestibulum risus hendrerit iaculis metus maecenas. Elit enim hendrerit potenti curae;! Neque rutrum, mus arcu class posuere diam morbi ut rhoncus! Enim cursus litora auctor ante phasellus lacinia nibh! Consequat eu.
      </p>
      <p>
          Convallis ac facilisis justo varius mattis curabitur erat elit nibh nisi? Natoque ligula eu vitae cursus dignissim enim cum eleifend, porta himenaeos pharetra sapien. Erat magnis nisi litora nulla libero cras. Dapibus congue at semper. Porttitor habitant donec integer risus viverra montes placerat. Massa consectetur aliquam sagittis. Libero habitant aliquam class natoque! Quis duis accumsan facilisis elementum amet. Malesuada suscipit pharetra felis, sollicitudin pharetra per parturient metus cum adipiscing. Semper augue aenean vitae eleifend dolor taciti platea cras erat. Sit!
      </p>
      <p>
          Imperdiet rhoncus lacinia habitant ridiculus id vel interdum. Class luctus porttitor, felis tempus sed mollis auctor porttitor pulvinar lectus porttitor sed. Vestibulum pellentesque scelerisque nisl natoque tempus iaculis auctor. Nascetur enim luctus primis. Lectus pretium posuere iaculis non etiam. Netus tincidunt cursus sociosqu scelerisque ultricies etiam hendrerit nullam litora. Massa ultrices laoreet nullam leo sociis. Class sed lectus dictumst class enim ligula praesent? Metus lacus bibendum nisl pharetra? Praesent risus elementum orci vivamus nisi. Amet himenaeos iaculis ultrices nisi luctus. Praesent lacinia tempus scelerisque in class nulla penatibus aliquet! Diam per amet himenaeos ante non.
      </p>
      <p>
          Dis accumsan auctor molestie aliquam justo. Risus montes arcu luctus ut cras elit per. Primis felis cras varius placerat platea maecenas. Scelerisque placerat semper quam sodales. Fusce nam sapien ornare dapibus lacinia nascetur vel fusce per volutpat tristique. Tempus sapien aliquam leo dolor quis magnis odio imperdiet in nec purus neque. Suscipit lectus, ad vivamus suspendisse.
      </p>
  </div>
  <div class="col-sm-3">
      <h3>Szybki kontakt</h3>
      <ul class="links">
          <li>
              <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
                  <i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a>
          </li>
          <li>
              <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
                  <i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a>
          </li>
          <li>
              <a href="https://gmail.com" target="_blank" rel="noopener noreferrer">
                  <i class="fa fa-envelope" aria-hidden="true"></i> Email</a>
          </li>
      </ul>
  </div>
</div>

<footer class="footer">Copyrights &copy; Konrad Czechowski | 2019</footer>