/* You can add global styles to this file, and also import other style files */

body {
    background-color: cornsilk;
}

li {
    display: inline;
    padding: 5px;
}

div.form {
    display: block;
    text-align: center;
}
form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

li {
    display: block;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: cornsilk;
}

.navbar {
    justify-content: center;
}
